[Desktop Entry]
Version=1.1.0
Terminal=false
Type=Application
Name=QDiceRoller
StartupWMClass=QDiceRoller
GenericName=Dice Roller
Comment=Roll dice with complicated expressions!
Exec=qdiceroller
Icon=QDiceRoller
Keywords=dice;roller;calculator
Categories=Utility;Calculator;Qt
